<div class="login">
  <form action="/login" method="post" class="login-form card">
    <h1 class="title">Connexion</h1>
    <label class="input-group">
      <span>Nom d'utilisateur :</span>
      <input type="text" name="username" />
    </label>
    <label class="input-group">
      <span>Mot de passe :</span>
      <input type="password" name="password" />
    </label>
    <button type="submit">Se connecter</button>
  </form>
</div>
